node-red/flows.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "DrowsyGuard Telemetry",
        "disabled": false,
        "info": "Riceve la telemetria MQTT cifrata da AlertNotifier, la decifra (AES-256-CBC) e la mostra su dashboard."
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto locale",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "mqtt_in_node",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Telemetria drowsiness",
        "topic": "v1/devices/me/telemetry",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker",
        "x": 170,
        "y": 140,
        "wires": [["decrypt_function"]]
    },
    {
        "id": "decrypt_function",
        "type": "function",
        "z": "flow1",
        "name": "Decifra AES-256-CBC",
        "func": "const crypto = global.get('crypto');\nconst key = Buffer.from(global.get('aesKey'), 'utf8');\n\nconst raw = Buffer.from(msg.payload, 'base64');\nconst iv = raw.subarray(0, 16);\nconst encrypted = raw.subarray(16);\n\nconst decipher = crypto.createDecipheriv('aes-256-cbc', key, iv);\nconst decrypted = Buffer.concat([decipher.update(encrypted), decipher.final()]);\n\nmsg.payload = JSON.parse(decrypted.toString('utf8'));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [["debug_node", "gauge_node", "text_node", "chart_node"]]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "flow1",
        "name": "Payload decifrato",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "gauge_node",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "P(drowsy)",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Probabilita' sonnolenza",
        "label": "%",
        "format": "{{msg.payload.probability | multiply:100 | number:1}}",
        "min": 0,
        "max": 1,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "0.5",
        "seg2": "0.7",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "text_node",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Stato allarme",
        "label": "Stato",
        "format": "{{msg.payload.status}} @ {{msg.payload.timestamp}}",
        "layout": "row-spread",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "chart_node",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Storico probabilita'",
        "group": "dashboard_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Storico P(drowsy)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": ["#1f77b4"],
        "useOldStyle": false,
        "outputs": 1,
        "useOneColor": false,
        "useUTC": false,
        "x": 710,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "DrowsyGuard",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "DrowsyGuard Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
